.poster {
    position: relative;
    max-height: 255px;
}

img {
    padding: 5px;
    max-height: 255px;
    transition: transform 500ms; 
    object-fit: contain;
}

.poster:hover .overlay{
    opacity: 1;
    transform: scale(1.2);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(20, 20, 20, 1);
}

.poster-description {
    color: white;
    position: relative;
    font-size: 1.5rem;
    text-align: center;
    top: 50%
   
}
