h2{
    font-size: 4.5rem;
    color: #E5E5E5;
}

.row{
    position: relative;
    z-index: 10;

}

.row-slider {
    /* background-color:rgba(26, 25, 25, 0.5); */
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE 11 */
}

.row-slider::-webkit-scrollbar {
    display: none;
}