.row{
    position: relative;
    z-index: 10;
    margin-left: var(--edge-space);
    margin-bottom: var(--edge-space);
}

h2{
    font-size: 4.5rem;
    color: #E5E5E5;
}

.row-slider {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE 11 */
}

.row-slider::-webkit-scrollbar {
    display: none;
}