.navbar {
  position: fixed;
  width: 100vw;
  height: 70px;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  z-index: 20;
}

.navbar-bg {
  background-color: rgb(20, 20, 20);
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: var(--edge-space);
}

.navbar-logo {
  padding-right: 25px;
}

.navbar-center {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

a {  
  text-decoration: none;
  color: rgb(255, 255, 255);

}

.navbar-center li {
  margin-left: 20px;
}

.navbar-right {
  display: flex;
  margin-right: var(--edge-space);
  align-items: center;
}

.navbar-right div {
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 961px) {
  .navbar-center,
  .navbar-right {
    display: none;
  }

}