.banner {
	display: block;
	position: relative;
	height: 100vh;
	z-index: 10;
}

.banner-img {
  /*background-image: url("https://image.tmdb.org/t/p/original//vNEXeurfoBXkaRJTRSlNUdMzIxJ.jpg");*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 70.25vw;
  z-index: -10;
  background-size: cover;
  background-position: center;
}

.banner-vignette {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70.25vw;
	background-image:
        linear-gradient(to bottom,
            rgba(20,20,20,0) 0,
            rgba(20,20,20,.15) 15%,
            rgba(20,20,20,.35) 29%,
            rgba(20,20,20,.58) 44%,
            #141414 90%,
            #141414 100%
        );
}

.banner-description {
	position: absolute;
	bottom: 35%;
	left: 14%;
	width: 36%;
	color: #E5E5E5;
	line-height: 1.2;
	cursor: default;
	min-height: 15.2vw;
}

.banner-title {
	font-size: 56px;
	margin: 0;
}
	

.banner-message {
	font-size: 30px;
	margin: 25px 0;
	font-weight: 700;
}

.banner-synopsis {
	font-size: 24px;
}

button {
	color: black;
	border: none;
	border-radius: 5px;
	padding: 13px 40px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	border-radius: 6px;
	opacity: 0.8;
}
a
.watch-button {
	background-color: rgba(255, 255, 255, 1);

	
}

.watch-button:hover {
	background-color: rgba(255, 255, 255, 0.75)
}

.info-button {
	background-color: rgba(109, 109, 110, 0.7);
	margin-left: 15px;
}

.info-button:hover {
	background-color: rgba(109, 109, 110, 0.4)
}